<div class="privacy-policy bg-gray-200 w-full lg:w-10/12 mx-auto my-4 p-2 shadow-xl font-semibold rounded ring-indigo-600">
  <div class="text-3xl font-bold">Welcome to the Comet Observatory</div>
  <%= image_tag "rosalina-full.png", alt: "Rosalina", class: "float-right h-auto w-48 px-6 pb-2" %>
  <div>
    The Comet Obervatory aggregates some of the best Nintendo and Industry-Wide news headlines in one easy to
    digest feed. Allowing you to view at a glance the news that matters to you.
  </div>
  <div>
    Select the Rosalina icon at the top right to filter the news sources in the main feed. A cookie will be set in
    your browser to remember you selection for next time.
  </div>
  <div>May the Stars Shine Down On You...</div>
  <div class="clear-both"></div>
</div>
